---
whiskers:
  version: 2.1.0
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}"
---

{%- set palette = flavor.colors -%}

# Catppuccin {{ flavor.name }}
text-color = #{{ palette.text.hex }}
prompt-color = #{{ palette.red.hex }}
selection-color = #{{ palette.yellow.hex }}
background-color = #{{ palette.base.hex }}
